.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom css  */

input[type=text] {
  /* width: 80%; */
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(28, 177, 236);
  box-shadow: none;
}

.minus{
  padding: 12px 20px; 
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 40px;
  background-color: rgb(9, 129, 39);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  /* font-weight: bolder; */
  border-radius: 4px;
}

.plus {
  padding: 12px 20px; 
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 40px;
  background-color: rgb(27, 102, 201);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  /* font-weight: bolder; */
  border-radius: 4px;
}